extends ./layout/index 

block slider
    .slider 
        h1.text-center.p-4 Carnavales de Negros y Blancos
        em Pasto

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Introducción a Nariño
        .row.mb-5
            .col-md-6
                p Nariño, ubicado en el suroccidente de Colombia, es una región de contrastes y belleza natural incomparable. Con paisajes que van desde imponentes montañas andinas hasta las cálidas playas del Pacífico, este departamento es un destino que sorprende a cada visitante. Su capital, San Juan de Pasto, es el corazón cultural de la región y el punto de partida para explorar todo lo que Nariño tiene para ofrecer.

                p Este territorio, rico en tradiciones ancestrales y cultura, se caracteriza por su diversidad de ecosistemas y por ser hogar de comunidades que preservan costumbres únicas. En Nariño, cada rincón guarda un tesoro por descubrir: la mágica Laguna de la Cocha, el majestuoso Volcán Galeras, el emblemático Santuario de Las Lajas y las playas de Tumaco, conocidas como la “Perla del Pacífico”. Aquí, el turismo se mezcla con la historia, la gastronomía y la calidez de su gente, creando una experiencia inolvidable.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen sobre Nariño" class="img-fluid")

        include ./layout/bloque_viajes
    
    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 Explorando Nariño  
                        p.titulo Laguna Verde: La Joya del Volcán

                        p Admira sus aguas esmeralda y la biodiversidad única.

        .container 
            h2.mt-5.text-center Testimoniales
            include ./layout/bloque_testimoniales
            include ./layout/footer
        