header  
    .navegacion 
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4 
                .col-md-4.col-6
                    a(href="/") 
                        img(src="/img/narinio.png", alt="sitio logo" class="img-fluid")
                .col-md-8
                    nav.mt-1.mt-md-0.nav.justify-content-center.justify-content-md-end  
                        a.nav-link(href="/nosotros") Blog 
                        a.nav-link(href="/viajes") Destinos           
                        a.nav-link(href="/testimoniales") Comentarios
